/* ========================= */
/* RESPONSIVIDADE GERAL */
/* ========================= */

/* TABLETS */
@media (max-width: 1024px) {

    /* HEADER */
    .header-conteudo {
        justify-content: space-between;
        padding: 0 30px;
    }

    .header-nav ul li a {
        font-size: 18px;
        margin-left: 30px;
    }

    /* SOBRE NÓS */
    .sobre-nos-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .sobre-nos-foto img {
        width: 80%;
        max-width: 450px;
    }

    .sobre-nos-texto p {
        max-width: 90%;
        margin: 0 auto;
    }

    /* PORTFOLIO */
    .portfolio-item {
        width: 300px;
        height: 200px;
    }

    .portfolio-item:hover {
        transform: scale(1.15);
    }

    /* CONTATOS */
    .contatos-conteudo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contatos-redes {
        align-items: center;
    }

    /* FOOTER */
    .footer-conteudo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* ========================= */
/* CELULARES */
/* ========================= */
@media (max-width: 600px) {

    /* HEADER */
    header {
        height: auto;
        padding: px 0;
    }

    .header-conteudo {
        flex-direction: column;
        gap: 15px;
    }

    .header-logo img {
        width: 80px;
        height: 80px;
    }

    .header-nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .header-nav ul li a {
        margin-left: 0;
        font-size: 18px;
    }

    /* SOBRE NÓS */
    .sobre-nos {
        padding-top: 50px;
    }

    .sobre-nos-foto img {
        width: 90%;
    }

    .sobre-nos-texto h1 {
        font-size: 28px;
    }

    .sobre-nos-texto p {
        font-size: 16px;
    }

    /* PORTFOLIO */
    .portfolio {
        padding: 60px 0;
    }

    .portfolio-titulo {
        font-size: 28px;
    }

    .portfolio-item {
        width: 260px;
        height: 180px;
    }

    .portfolio-item:hover {
        transform: scale(1.05);
    }

    /* MODAL */
    .modal-box {
        width: 90%;
        height: 60%;
    }

    /* CONTATOS */
    .contatos {
        padding: 60px 0;
    }

    .contatos-titulo {
        font-size: 28px;
    }

    .rede {
        width: 220px;
        font-size: 16px;
    }

    /* FOOTER */
    .footer-conteudo {
        padding: 50px 20px;
    }

    .footer-brand h2 {
        font-size: 24px;
    }

    .footer-links h3,
    .footer-contato h3 {
        font-size: 18px;
    }

    .footer-copy {
        font-size: 12px;
    }
}
